<?xml version="1.0"?>
<config>
    <modules>
        <Dh_EmptyHandles>
            <version>0.1.0</version>
        </Dh_EmptyHandles>
    </modules>
    <global>
        <events>
			<controller_action_layout_load_before>
				<observers>
					<emptyhandles>
						<type>Singleton</type>
							<class>Dh_EmptyHandles_Model_Observer</class>
							<method>controllerActionLayoutLoadBefore</method>
					</emptyhandles>
				</observers>
			</controller_action_layout_load_before>
		</events>
		<models>
			<emptyhandles>
				<class>Dh_EmptyHandles_Model</class>
			</emptyhandles>
		</models>
		<helpers>
			<emptyhandles>
				<class>Dh_EmptyHandles_Helper</class>
			</emptyhandles>
		</helpers>
    </global>
    <frontend>
        <layout>
            <updates>
               <emptyhandles>
                   <file>emptyhandles.xml</file>
               </emptyhandles>
            </updates>
        </layout>
    </frontend>
</config>